--
-- PostgreSQL database dump
--

\restrict 4d2fwUagd6CnltwG7NdJjWW76D8gK33W3cKx4SGsvgZemW5QxJIFW4b7xN3VS6Z

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: events; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.events (
    id integer NOT NULL,
    title character varying,
    description text,
    disaster_type character varying,
    centroid_lat double precision,
    centroid_lon double precision,
    bbox json,
    h3_index character varying,
    start_time timestamp with time zone,
    end_time timestamp with time zone,
    severity double precision,
    confidence double precision,
    item_count integer,
    source_count integer,
    is_verified boolean,
    verification_reason character varying,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.events OWNER TO dev;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: dev
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.events_id_seq OWNER TO dev;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dev
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: item_event_association; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.item_event_association (
    item_id integer NOT NULL,
    event_id integer NOT NULL
);


ALTER TABLE public.item_event_association OWNER TO dev;

--
-- Name: items; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.items (
    id integer NOT NULL,
    ext_id character varying,
    source character varying,
    source_handle character varying,
    text text,
    magnitude double precision,
    place character varying,
    lat double precision,
    lon double precision,
    media_url character varying,
    raw_json json,
    language character varying,
    disaster_type character varying,
    score_credibility double precision,
    needs_review character varying,
    suspected_rumor character varying,
    credibility_signals json,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.items OWNER TO dev;

--
-- Name: items_id_seq; Type: SEQUENCE; Schema: public; Owner: dev
--

CREATE SEQUENCE public.items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.items_id_seq OWNER TO dev;

--
-- Name: items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dev
--

ALTER SEQUENCE public.items_id_seq OWNED BY public.items.id;


--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Name: items id; Type: DEFAULT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.items ALTER COLUMN id SET DEFAULT nextval('public.items_id_seq'::regclass);


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.events (id, title, description, disaster_type, centroid_lat, centroid_lon, bbox, h3_index, start_time, end_time, severity, confidence, item_count, source_count, is_verified, verification_reason, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: item_event_association; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.item_event_association (item_id, event_id) FROM stdin;
\.


--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.items (id, ext_id, source, source_handle, text, magnitude, place, lat, lon, media_url, raw_json, language, disaster_type, score_credibility, needs_review, suspected_rumor, credibility_signals, created_at) FROM stdin;
\.


--
-- Name: events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dev
--

SELECT pg_catalog.setval('public.events_id_seq', 1, false);


--
-- Name: items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dev
--

SELECT pg_catalog.setval('public.items_id_seq', 1, false);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: item_event_association item_event_association_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.item_event_association
    ADD CONSTRAINT item_event_association_pkey PRIMARY KEY (item_id, event_id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: items uq_ext_source; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT uq_ext_source UNIQUE (ext_id, source);


--
-- Name: ix_events_id; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX ix_events_id ON public.events USING btree (id);


--
-- Name: ix_items_id; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX ix_items_id ON public.items USING btree (id);


--
-- Name: item_event_association item_event_association_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.item_event_association
    ADD CONSTRAINT item_event_association_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: item_event_association item_event_association_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.item_event_association
    ADD CONSTRAINT item_event_association_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 4d2fwUagd6CnltwG7NdJjWW76D8gK33W3cKx4SGsvgZemW5QxJIFW4b7xN3VS6Z

